#map {
  margin: 0;
  padding: 0;
  height: 400px;
  max-width: 100%;
}

#edit_map{
  margin: 0;
  padding: 0;
  height: 251px;
  max-width: 55%;
}

.map_icon_defention {
    width: 100px;
    height: 40px;
    font-size: 11px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.map_icon_defention img{
  width: 20px;
  height: 30px;
}

/* this for filters  */
.filter_form1{
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.filter_form2 {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}


.pagination_list{
  display: inline-block;
  width: 362px;
  height: 36px;
  bottom: -35px;
  position: relative;
}

.first_button_wrap{
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
}

.button_wrap{
  margin-left: 2px;
  display: inline-block;
}

#delete_all{
  display: none;
}

@media only screen and (max-width: 600px) {
  .filter_form1{
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .filter_form2 {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .pagination_list{
    display: block;
    width: 250px;
    height: 36px;
    bottom: -10px;
    position: relative;
  }

  .first_button_wrap{
    margin-top: 20px;
    margin-bottom: 25px;
    display: block;
  }

  .button_wrap{
    margin-top: 10px;
    width: 114px;
    display: inline-block;
  }

}



.icons{
  display: none;
}

.show-more-button{
  color: blue;
  cursor: pointer;
}

.advanced_filters{
  display: none;
}

.selected {
    background: #000000;
    color: #FFFFFF;
}

/* context menue */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}



.edit_real_easte{
  width: 100%;
  height: 100%;
  /* background-color: #919291; */
  position: fixed;
  top: 0;
  right:0;
  overflow-y: auto;
  z-index: 3;
  opacity: 1;
  display: none;
}

.edit_body{
  margin: 20px;
  margin-top: 35px;
  width: 95%;
  height: auto;
  background-color: #E4EAF9;
  opacity: 1;

  border-radius: 2px;
  border-width: 2px;
  border-color: #291869;
  border-style: solid;
}

.edit_head{
  color: #ffffff;
  height: 46px;
  background-color: #7758c3;
  margin-bottom: 20px;
}

.w3-button:hover{
  background: #FFFFFF;
  color:#000000;
}

.edit_popup{
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #000000;
  z-index: 3;
  opacity: .8;
  display: none;
}

.popup_form{
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #C7E6F5;
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 5;
  opacity: 1;
  display: none;
}

.w3-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color:#ffffff;
}

.w3-modal-content{
  width: 500px;
}
.w3-container, .w3-panel{
  padding: 0;
}
.w3-teal, .w3-hover-teal:hover{
  padding: 0px 50px 0 10px;
}

.w3-modal{
    padding-top: 10px;
}

.left_x{

  font-size: 20px;
  color:#ffffff;
}

.wrapper{
  top:35px;
  background-color: #C7E6F5;
  height: auto;
}


.ios_copy{
  width: 90%;
  height: auto;
  position: fixed;
  top: 50px;
  right: 50px;
  left: 50px;
  bottom: 50px;
  padding: 20px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  background: #f6f2cb;
  z-index: 100;
  opacity: 1;
  display: none;
}
.ios_copy textarea{
  max-height: : 400px;
}

#id01{
  z-index: 200;
}


.show_real_data{
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.comment{
  width: 100%;
  height: 100px;
  padding: 5px;
}

.comment_body{
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.note{
  background-color:#F9F8CA;
  margin: 5px;
}
.note_header{
  color: #3DA808;
  border-bottom-color: #C0C0C0;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}
.note_body{
  color: #000000;
}

.float_note{
  width: 40%;
  height: 300px;
  position: fixed;
  top: 50px;
  right: 30%;
  /* left: 150px; */
  bottom: 50px;
  padding: 20px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  background: #f6f2cb;
  z-index: 1000;
  opacity: 1;
  display: none;
}

.note_box textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 180px;
  min-height: 180px;
}


@media only screen and (max-width: 769px) {
  .filter_form1{
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .filter_form2 {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .float_note{
    width: 95%;
    right: 3%;
    height: 71%;
  }
}

marquee{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 20px;
  display: block;
}
